{ "datasource" => {
  "{{ values['name'] }}" => {
    "pool-name" => "{{ values['jndi_name'] }}",
    {% if 'use_java_context' in values %} "use-java-context" => "{{ values['use_java_context'] }}", {% endif %}
    "connection-url" => "{{ values['connection_url'] }}",
    "driver-name" => "{{ values['driver_name'] }}",
    "jndi-name" => "{{ values['jndi_name'] }}",
    {% if 'password' in values %} "password" => "{{ values['password'] }}", {% endif %}
    {% if 'username' in values %} "user-name" => "{{ values['user_name'] }}", {% endif %}
    {% if 'enabled' in values %} "enabled" => "{{ values['enabled'] }}" {% endif %}
   }
 }
}
